<h1>Product Details</h1>

<div class="container">
  <h3>Product Information</h3>

  <div>
    <label>Product Name:</label>
    <%= @product.name %>
  </div>

  <div>
    <label>Price:</label>
    <%= @product.price %>
  </div>

  <div>
    <label>Description:</label>
    <%= @product.short_description %>
  </div>

  <div class="actions">
    <%= button_to 'Delete Product', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <%= link_to 'Back to Products', products_path, class: 'btn btn-primary' %>
  </div>
</div>
